/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.2;
  font-size: clamp(1rem, -1rem + 4vw, 1.6rem);
}

.play {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.2;
  max-width: 70ch;
  margin: 2rem auto;
  padding: 1.6rem;
  text-align: left;
  height: 100%;
  width: 100%;
  transition: transform 400ms ease;
  animation-duration: 500ms;
  animation-name: slidein;
}

.footer {
  background-image: url('gustave_dore_the_scottish_highlands.jpg');
  background-position: center;
  background-size: cover;
  margin: 0;
  height: 100px;
  width: 100%;
}

.title {
  display: block;
  font-size: clamp(1rem, -1rem + 4vw, 2rem);
  max-width: fit-content;
  padding: 1rem;
  margin:1rem auto;
  align-items: center;
}

.title h1,
h4 {
  color: antiquewhite;
  opacity: none;
  line-height: 0.8rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;

}

.day {
  background-color: whitesmoke;
  color: black;
  transition: background-color 1s;
}

.night {
  background-color: #171C28;
  color: whitesmoke;
  transition: background-color 1s;
}

a:link {
  color: red;
}

a:hover {
  background-color: yellow;
  color: black;
  text-decoration: dashed;
}

a:visited {
  text-decoration: none;
  color: salmon;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 25%;
    width: 100%;
  }
}

.header {
  align-items: center;
  margin: 0;
  height: 380px;
  width: 100%;
  background-image: url('gustave_dore_the_scottish_highlands.jpg');
  background-position: center;
  background-size: cover;
}

.navigation {
  width: fit-content;
  margin: auto;
}

p {
  margin-left: 1rem;
  margin-top: 0;
  padding-top: 0;
}

.printmessage {
  display: none;
}

h3 {
  margin-top: 1.6rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  height: 2.4rem;
  width: fit-content;
  padding: 0 18px;
  margin-top: 16px;
  margin-left: 5px;
  color: black;
  text-align: center;
  font-size: clamp(0.6rem, -0.6rem + 4vw, 0.8rem);
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  color: whitesmoke;
  border-color: #888;
  outline: 0;
  background-color: #1f1c19;
}

.mobilemenu {
  display: none;
}

@media (max-width: 440px) {
  .play {
    max-width: 40ch;
    margin: 1rem auto;
  }
  .h1 {
    font-size: clamp(1rem, -1rem + 4vw, 1.6rem);
    margin:0;
  }

  .header {
    height: 200px;
  }
  .open {
   background-color: #1f1c19;
   display: flex;
   flex-direction: column;
   height: 380px;
   width: 100vw;
   position: fixed;
   margin: 0;
   top: 0;
   left: 0;
   align-items: center;
  }

  .button {
  height: 2rem;
  }

  .closed {
    display: none;
  }
  .mobilemenu {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

 
  @keyframes slidein {

    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
}

@media print {
  .play, .navigation {
    display: none;
  }
  .printmessage {
    display: inherit;
  }
}

.dayNight {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.dayNight input {
  display: none;
}
.dayNight input + div {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: relative;
  box-shadow: inset 16px -16px 0 0 #171C28;
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}
.dayNight input + div:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
}
.dayNight input + div:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -23px 0 yellow, 0 23px 0 yellow, 23px 0 0 yellow, -23px 0 0 yellow, 15px 15px 0 yellow, -15px 15px 0 yellow, 15px -15px 0 yellow, -15px -15px 0 yellow;
  transform: scale(0);
  transition: all 0.3s ease;
  background: transparent;
}
.dayNight input:checked + div {
  box-shadow: inset 32px -32px 0 0 #fff;
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}
.dayNight input:checked + div:before {
  background: yellow;
  transition: background 0.3s ease 0.1s;
}
.dayNight input:checked + div:after {
  transform: scale(1.5);
  transition: transform 0.5s ease 0.15s;
}